{% extends "studyplanner/base.html" %}
<DOCTYPE html>
    <html>
    <head>
        <title>USER - INPUT PAGE</title>
    </head>
    <body>
        <div class = "container">
            <div class = "row  col-md-6 col-md-offset-3"> 
                <div class = "panel panel-primary">
                    <div class = 'panel-headingvtext-center'>
                        <h1>USER IN=NPUT</h1>
                    </div>
                    <div class = 'panel-body'>
                        <form>
                            <div class="form-group">
                                <label for = "userName">Enter User Name</label>
                                <input type = 'text' class = "form-control" id = "userName"/>
                            </div>
                            <div class="form-group">
                                <label for = "userId">Enter User Id</label>
                                <input type = 'text' class = "form-control" id = "userId"/>
                            </div>
                            <div class="form-group">
                                <label for = "postId">Enter Post Id</label>
                                <input type = 'text' class = "form-control" id = "postId"/>
                            </div>
                            <input  type = 'submit' class = 'btn btn-primary' >
                        </form>
                    </div>




                </div>
            </div>
        </div>
    </body>
    </html>
{% endblock content %}
    
